<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>規定の確認</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheet/basenet.css">
<link rel="stylesheet" href="/stylesheet/theme.css">
<link rel="stylesheet" href="/stylesheet/pj-common.css">
<!-- 
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 -->
</head>
<body>
	<header class="basenet-container basenet-theme">
		<span class="basenet-title">規定の確認</span> <span class="basenet-right">注意実行</span>
	</header>







</body>
</html>
