<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>規定の確認</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheet/basenet.css">
<link rel="stylesheet" href="/stylesheet/theme.css">
<link rel="stylesheet" href="/stylesheet/project.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous">
</head>
<body>
	<header class="basenet-container basenet-theme basenet-padding-16">
		<span class="basenet-title">規定の確認</span> <span class="basenet-right"
			style="margin-top: 5px">注意事項<i
			class="fas fa-angle-right basenet-margin-left"></i></span>
	</header>

	<main class="basenet-container">

	<article class="basenet-padding-32">
		<div class="basenet-text-theme">
			<h4>共同銀行口座取引規定</h4>
		</div>
		<div class="basenet-padding-16">
			<aside style="font-size: 12px">最終更新日：2016年10月27日</aside>
		</div>
		<div class="basenet-padding-16"><h5>第1　総則</h5></span></div>
	</article>
	</main>

</body>
</html>
