<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>規定の確認</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheet/basenet.css">
<link rel="stylesheet" href="/stylesheet/theme.css">
<link rel="stylesheet" href="/stylesheet/project.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous">
</head>
<body>
	<header class="basenet-container basenet-theme basenet-padding-16">
		<span class="basenet-title">規定の確認</span> <span class="basenet-right"
			style="margin-top: 5px">注意事項<i
			class="fas fa-angle-right basenet-margin-left"></i></span>
	</header>

	<main class="basenet-container">

	<article style="padding-top: 112px">
		<div class="basenet-text-theme">
			<h4>共同なんとか口座取引規定</h4>
			<div class="basenet-padding-8">
				<aside>最終更新日：2016年10月27日</aside>
			</div>
		</div>

		<div class="basenet-padding-16">
			<h5>第1 総則</h5>
			<div class="basenet-padding-large">
				<span style="font-weight: bold">1．（共同なんとか口座取引）</span>
				<div class="basenet-padding-large">
					（1） 共同なんとか口座は次の各号に掲げる取引から構成されます。
					<div class="basenet-padding-large">
						<div>1） なんとか</div>
						<div>2） なんとか</div>
					</div>
				</div>
			</div>
		</div>
		<div class="basenet-padding-16">
			<h5>第2 総則</h5>
			<div class="basenet-padding-large">
				<span style="font-weight: bold">1．（共同なんとか口座取引）</span>
				<div class="basenet-padding-large">
					（1） 共同なんとか口座は次の各号に掲げる取引から構成されます。
					<div class="basenet-padding-large">
						<div>1） なんとか</div>
						<div>2） なんとか</div>
					</div>
				</div>
			</div>
		</div>
		<div class="basenet-padding-16">
			<h5>第3 総則</h5>
			<div class="basenet-padding-large">
				<span style="font-weight: bold">1．（共同なんとか口座取引）</span>
				<div class="basenet-padding-large">
					（1） 共同なんとか口座は次の各号に掲げる取引から構成されます。
					<div class="basenet-padding-large">
						<div>1） なんとか</div>
						<div>2） なんとか</div>
					</div>
				</div>
			</div>
		</div>
		<div class="basenet-padding-16">
			<h5>第4 総則</h5>
			<div class="basenet-padding-large">
				<span style="font-weight: bold">1．（共同なんとか口座取引）</span>
				<div class="basenet-padding-large">
					（1） 共同なんとか口座は次の各号に掲げる取引から構成されます。
					<div class="basenet-padding-large">
						<div>1） なんとか</div>
						<div>2） なんとか</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<footer>
		<form th:action="@{/agree-to-regulations}" method="post"
			th:object="${regulationsViewModel}">
			<div style="width: 180px; margin-left: auto; margin-right: auto">
				<input name="checked" id="checked" type="checkbox"
					th:checked="*{checked}" /> <label for="checked">上記規定に同意する
				</label>
			</div>
			<div style="width: 60px; margin-left: auto; margin-right: auto">
				<button class="basenet-button basenet-theme">次へ</button>
			</div>
		</form>
	</footer> </main>

</body>
</html>
